# IDE files
*.iml
.idea/
.DS_Store

# Gradle
.gradle/
gradle-app.setting

# Local SDK/NDK paths
/local.properties

# Build outputs
/build/
/app/release/
*.apk
*.ap_
*.aab
*.log

# Native build intermediates
.externalNativeBuild/
.cxx/

# Captures (screenshots/profiling)
captures/

# Signing keys
keystore.jks
